<%= form_for @article do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    <% article.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :body %><br>
    <%= form.text_area :body %><br>
    <% article.errors.full_messages_for(:body).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>

<%# This is a comment in HTML ERB %>

<%# form_for @article do |form|%>

<%# This is a comment in HTML ERB %>
<%# The form creates fields for the article model to collect data from. 
":title" and  ":body" here refer to the corresponding attributes from the db model.
"form.label :title", is saying the html component that will collect data for the "title" field is labeled 
"form.text_field :title " is saying the html component that will collect data for "title" field will be a text field
%>

<%# This is a comment in HTML ERB %>
<%# form.submit sends the data into params%>