<h1><%= @article.title %></h1>

<p><%= @article.body %></p>

<ul>
  <li><%= link_to "Edit", edit_article_path(@article) %></li>
</ul>

<ul>
  <li><%= link_to "Home",root_path %></li>
</ul>

<ul>
  <li>
    <%= form_for @article, method: :delete, data: { turbo_frame: "articles" } do |form| %>
      <%= form.submit "Destroy", data: { confirm: "Are you sure?" } %>
    <% end %>
  </li>
</ul>


<h2>Add a comment:</h2>
<%= form_for ([@article, @article.comments.build])  do |form| %>
  <p>
    <%= form.label :commenter %><br>
    <%= form.text_field :commenter %>
  </p>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>




